*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    width:100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    border-bottom: 1px solid #615F5F;
    background-color: #F5F4F4;

    box-shadow: 0 3px 20px rgba(0,0,0,0.8);
}

.logo h1{
    font-size:42px;
    font-size: 500;
    color: black;
    /* margin-top: 20px; */
    /* padding-top: 20px; */

}

.nav-links{
    display: flex;
    align-items: center;
    gap: 45px;

    list-style: none;
}

.nav-links li {
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}
.nav-links li:hover{
    color:#3aaa35
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}


.search-box{
    position: relative;
    /* gap: 50px; */
    
}

.search-input{
    width: 250px;
    height: 45px;

    gap: 20px;
    padding:0 20px ;

    border-radius: 30px;
    border: 1px solid #A68080;

    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

    outline: none;
    font-size: 15px;
}

.search-icon{
    position: absolute;

    top: 50%;
    right: 20%;

    transform: translateY(-50%);

    font-size: 20px;
}

.notification-icon{
    font-size: 28px;
    cursor: pointer;

    display: flex;
    align-items: center;

    
}

.profile-pic{
    width: 45px;
    height: 45px;

    border-radius: 50%;
    object-fit: cover;

    cursor: pointer;
}

.login-btn{
    height: 45px;
    padding: 3px 24px;

    border: none;
    border-radius: 10px;

    background: #3aaa35;
    color: white;

    cursor: pointer;
    font-size: 16px;

    transition: 0.2s;
}
.login-btn:hover{
    background-color: #2f912a;
}


.profile-section{
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;

    cursor: pointer;
}

.profile-name{
    font-size: 19px;
    font-weight: 600;

    font-family:'Courier New', Courier, monospace;

    color: #2b5f06;
}

.profile-pic{
    width: 42px;
    height: 42px;

    border-radius: 50%;

    object-fit: cover;

    border: 2px solid #ddd;
}

.profile-dropdown{
  position: absolute;

  top: 60px;
  right: 0;

  width: 220px;

  background: white;

  border-radius: 12px;

  padding: 15px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;

  gap: 10px;

  z-index: 100;
}


.pro-log{
    margin: 7px;
    padding: 4px;
    font-size: 17px;

}

.profile-dropdown p:hover{
    color: #399223;
}

.profile-dropdown button{
  height: 40px;

  border: none;
  border-radius: 8px;

  background: #3aaa35;
  color: white;

  cursor: pointer;
}


/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 1000px){

  .navbar{
    padding: 15px 20px;

    flex-wrap: wrap;
    height: auto;

    gap: 15px;
  }

  .logo h1{
    font-size: 39px;
    padding: 0;
    
  }

  .nav-links{
    gap: 20px;
  }

  .search-input{
    width: 180px;
  }

}